# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/NBody/FileContentIndex
/x64
/NBody.sln
/.vs/NBody/v17
/NBody/x64
/NBody/Release
/NBody/Debug
/NBody/NBody.vcxproj.user
/NBody/NBody.vcxproj.filters
/NBody/NBody.vcxproj
